<div class="items-container">
    <!-- Items -->
  <div class="card-container">
    <a *ngFor="let item of allItems; let index = index" class="card" target="_blank" rel="noopener" routerLink="/item/{{item.item_uuid}}">
      <img class="item-image mat-card-image" width="80" height="50"
        src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
      <p class="item-details">
        <span class="view-item">{{item.item_name}}</span><br>
        <span class="view-item">${{item.item_base_price_in_usd}}</span>
        <span class="view-item">Bid Now</span><br>
      </p>
      
    </a>
  </div>
</div>
